@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

@keyframes dropDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

* {
    box-sizing: border-box;
    padding: 0px 0px;
    margin: 0;
    background-color: black;
    color: #f3f2f2
}

/* Nav-Bar */
.logo {
    max-width: 3%;
    padding: 10px 0px;
    /* background-color: black; */
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #f3f2f2;
    text-decoration: none;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    background-color: black;
    animation: dropDown 0.8s ease-in-out forwards, fadeIn 0.8s ease-in-out;
    /* Animation to slide down and fadeIn */
    opacity: 0;
    /* Initial opacity */
    transform: translateY(-100%);
    /* Initial hidden state */
}

nav,
.nav_links {
    list-style: none;
    position: relative;
    transition: all 0.3s ease 0s;
    transform: translateX(25px);
    background-color: transparent;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    transition: filter 0.3s ease-in;
    background-color: transparent;
}

.nav_links:hover li {
    /* for the Blur effect, when the item is not selected*/
    filter: blur(2px);
}

.nav_links li:hover {
    /* for the Blur effect, when the item is selected*/
    filter: blur(0px);
}

@media (max-width:1150px) {
    .nav_links{
        transform: translateX(0px);
    }
}
@media (max-width:1065px) {
    .nav_links li a, #cta{
        font-size: 18px;
    }
    #cta{
        padding: 10px 10px;
    }
}
.nav_links li a{
    background-color: transparent;
}

.nav_links li a::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #f3f2f2;
    transition: width 0.2s ease-out;
}

.nav_links li a:hover::before {
    /* will add an underline when the word is hovered over */
    width: 100%;
    left: 0;
    right: auto;
}

button {
    padding: 10px 25px;
    background-color: #f3f2f2;
    border: none;
    color: black;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    /* will dim the contact button when hovered */
    background-color: #f3f2f2D8;
}


/* Home-Intro */

.Flag {
    /* Add the blur effect */
    background-image: url("Resources/flag.png");
    filter: blur(0px);
    /* background-color: black; */

    height: 950px;

    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    animation: fadeIn 0.3s ease-in;
}

.Home-Section1 {
    padding: 100px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 60px;

    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: #f3f2f2;
    border: 3px solid #f3f2f2;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 30px;
    text-align: center;
}

#typing-text {
    display: inline-block;
    background-color: transparent
    /* Make the text and cursor inline */
}

#typing-text::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 60px;
    background-color: #f3f2f2;
    display: inline-block;
    margin-left: 2px;
    /* Adjust the cursor position */
    animation: blink 0.6s infinite alternate;
    margin-left: 3px;
}

/* Home-About_me */
.headshot {
    width: 300px;
    padding: 5px;
    margin: 0 auto;
    border-radius: 15px;
    filter: drop-shadow(5px 5px 10px white)
}

.About_me {
    padding: 20px 10px;
    /* background-color: black; */
    animation: fadeIn 0.3s ease-in;
}

.About_me h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 40px;
    text-align: center;
    color: #f3f2f2;
}

.About_me_text {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25px;
    display: grid;
    grid-template-columns: 1fr;
    color: #f3f2f2;
    gap: 50px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.technologies {
    padding-left: 15px;
    margin-right: 10px;
    display: inline;

}

.technologies::before {
    content: "• ";
    color: #f3f2f2;
    font-weight: bolder;
}


@media (min-width:800px) {
    .About_me {
        padding-right: 0px;
    }

    .About_me h1 {
        margin-bottom: 30px;
        gap: 10px
    }

    .About_me_text {
        grid-template-columns: 1fr 3.5fr;
        gap: 50px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .About_me_text p {
        margin-top: 15px;
    }

    .headshot {
        width: 100%;
    }
}

.technologies a {
    color: #006483;
    font-size: 25px;
    transition: 0.3s ease-in;
}

.tamu {
    color: #700000;
    font-size: 25px;
    transition: 0.3s ease-in;
}

.About_me_text a:hover {
    color: #004362;
}

/* Footer */

.footer {
    display: grid;
    padding: 20px 10px;
    /* background-color: black; */
    align-items: center;
    animation: fadeIn 0.3s ease-in;
}

.socials {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

@media (min-width:800px) {
    .socials {
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 200px;
    }
}

.socials span {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 100;
    opacity: 20%;
    color: #f3f2f2;
}
.footer i {
    height: 100px;
    opacity: 75%;
    font-size: 40px;
    color: #f3f2f2;
    transition: 0.3s ease-in;
}

.fa-twitter:hover {
    color: #1da1f2;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-instagram:hover {
    color: #c32a74;
}

.fa-linkedin:hover{
    color: #0072B1;
}

.fa-envelope:hover{
    color:#BB001B;
}

.fa-phone:hover{
    color:#34A853;
}

.footer div{
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: #f3f2f2;
    opacity: 75%;
    display: flex;
    justify-content:space-around;
}

/* Portfolio */
.project-1, .project-2{
    margin-top: 30px;
    margin-bottom: 40px;
    display: flex;
    animation: fadeIn 0.7s ease-in;
}
.project-3{
    display: grid;
    grid-template-columns: 10fr 5fr;
    animation: fadeIn 0.7s ease-in;
}
.project-1 div, .project-2 div, .project-3 .text{
    padding: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #f3f2f2;
    color: #000000;
    border-radius: 50px;
    border: 3px solid #f3f2f2;
}
.project-3 .text_pic{
    display:grid;
    width:fit-content;
    height:fit-content;
}

.project-1 img{
    width: 30%;
    height: 30%;
    padding: 1px;
    margin-right: 20px;
    border-radius: 15px;
}

.project-2 a img{
    width:95%;
    height: 100%;
    padding: 1px;
    margin: 0 auto;
    border-radius: 15px;
    margin-left: 20px;
}
.project-3 a img{
    width: 95%;
    padding: 1px;
    margin-right: 20px;
    border-radius: 15px;
}

.horiz{
    height: 100%;
    margin-top: 10px;
    margin-left: 30px;
    padding: 1px;
    border-radius: 15px;
}

.project-2 a, u{
    color: #006483;
    background-color: transparent;
    font-size: 20px;
    transition: 0.3s ease-in;
}

.project-2 a:hover{
    color: #004362;
}

@media (max-width:800px) {
    .project-1{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .project-2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .project-3{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .project-2 a, .project-3 .text a, u{
        font-size: 16px;
    }
    .project-1 div, .project-2 div, .project-3 .text {
        font-size: 16px;
    }
    .project-1 img{
        width: 70%;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .project-2 a img{
        width: 80%;
        margin-bottom: 5px;
    }

    .vert{
        height: 700px;
    }
}

.portfolio{ /* for the footer */
    margin-top: 80px;
}

/* Qualifications */
.resume_wrapper{
    display: flex;
    padding: 20px 20px;
    animation: fadeIn 0.3s ease-in;
}

.resume_text{
    padding: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: black;
    color: white;
    border-radius: 50px;
    /* border: 3px solid #f3f2f2; */
}
.resume_text h1{
    text-decoration: underline;
}

.resume a img{
    width:700px;
    border-radius: 10px;
  
}

@media (max-width:800px){
    .resume_wrapper{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .resume a img{
        width:500px;
    }
    .resume_text{
        font-size: 16px;
    }
}

/* Service */

.vol_1, .vol_2{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

.vol_1_text, .vol-2 text{
    padding: 50px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #f3f2f2;
    color: #000000;
    border-radius: 50px;
    border: 3px solid #f3f2f2;
}

.feed{
    height:500px;
    border-radius: 10px;
}
.amounts, .turtle{
    width: 30%;
    border-radius: 10px;
}
.volunteering a{
    font-size: 20px;
    color:#006483;
    background-color: transparent;
    transition: 0.3s ease-in;
}
.volunteering a:hover{
    color: #004362;
}
